<div id="wrapper">
<h1>Company Coffee</h1>

<p>We are happy to keep you caffeinated!</a></p>

<form action="/menu">
    <label for="name">Name:</lable> <br>
    <input type="text" name="user_name" />
    <br>
    <br>
    <label for="office_number">Office Number:</label> <br>
    <input type="number" name="office_num" />
    <br>
    <br>
    <input class="button" type = "Submit" value="Submit" /> 
</form>
</div>