<div class="container">
    <header class="main-header">
        <h1>Company Coffee</h1>
        <p>We are happy to keep you caffeinated!</p>
    </header>
    <hr>
    <div class="main-content">
        <form action="/menu" method="post">
            <label for="name">Name:</lable> <br>
            <input type="text" name="user_name" /><br>
     
            <label for="office_number">Office Number:</label> <br>
            <input type="number" name="office_num" /><br>
            
            <input class="button" type = "Submit" value="Submit" /> 
        </form>
    </div>
</div>