<div class="container">
    <header class="main-header">
        <h1>Company Coffee</h1>
        <p>Thanks for ordering your <%=@new_item.drink%>.</p> 
        <p>We will have that up to you shortly</a></p>
    </header>
</div>