<div id="wrapper">
<h1>Company Coffee</h1>

<p>Add a new menu item</p>

<form action="/bar_submit">
    <label for="drink_name">What new drink would you like to add?:</lable> <br>
    <input type="drink" name="drink" />
    <br>
    <input class="button" type = "Submit" value="Submit" /> 
</form>
</div>