<div>
<h1>Company Coffee </h1>
    <p>Hi Barista </a></p>
    <br>
    <h3>
        <a href="/bar_order_page">See the orders</a>
    </h3>
    <h3>
        <a href="/bar_edit_menu">Edit the menu</a>
    </h3>

</div>
