<div id="wrapper">
<h1>Company Coffee</h1>

<form action="/bar_submit" method="post">
    <label for="drink_name">What new drink would you like to add?:</lable> <br>
    <input type="text" name="drink_name" />
    <br>
    <input class="button" type = "Submit" value="Submit" /> 
</form>
</div>